@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a asp-action="Product1">Ejemplo 1</a></li>
    <li><a asp-action="Product2">Ejemplo 2</a></li>
    <li><a asp-action="Product3">Ejemplo 3</a></li>
    <li><a asp-action="Product4">Ejemplo 4</a></li>
</ul>

