@model CategoryIndexViewModel
@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="spinner1" style="display: none">
    <svg width="64" height="64">
        <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#arrow-repeat" />
    </svg>
</div>
<div id="overlay"></div>
<form id="form1" asp-antiforgery="false">
    <input id="command" asp-for="Command" type="hidden" />
    <input id="page" asp-for="Paging.Page" type="hidden" />
    <input id="sort" asp-for="Paging.Sort" type="hidden" />
    <input id="sortdir" asp-for="Paging.SortDir" type="hidden" />

    <div class="d-flex flex-column">
        <div class="form-row">
            <div class="col-8">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">🔍</div>
                    </div>
                    <input asp-for="Filter.CategoryName" placeholder="Search here ..." class="form-control" />
                </div>
            </div>
            <div class="col-auto">
                <button data-command="search" data-page="1" data-sort="CategoryName" data-sortdir="asc" class="btn btn-primary">Search</button>
            </div>
            <span id="processing" data-message="Procesando espere ..."></span>
        </div>
        <div>
            <br />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button data-sort="CategoryName" data-command="order" class="btn btn-link">
                                Name
                            </button>
                        </th>
                        <th>
                            <button data-sort="Description" data-command="order" class="btn btn-link">
                                Description
                            </button>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @{await Html.RenderPartialAsync("IndexTable");}
            </table>
        </div>
    </div>
</form>

<script>
    // Personalización para la dirección de ordenamiento
    let sortButtons = document.querySelectorAll('table [data-sort]');
    sortButtons.forEach(sb => {
        sb.addEventListener('click', function (event) {
            // Se inicializa el ordenamiento del resto de columnas
            sortButtons.forEach(sb2 => {
                if (sb == sb2) {
                    // Determinar el orden de la columna
                    sb2.dataset.sortdir = sb2.dataset.sortdir === 'asc' ? 'desc' : 'asc';
                }
                else {
                    sb2.dataset.sortdir = '';
                }
            });
        });
    });

    // Limpiar el tipo de orden
    function sortReset() {
        let sortButtons = document.querySelectorAll('[data-sort]');
        sortButtons.forEach(sb => sb.dataset.sortdir = '');
    }

    // Reset de página, columna, y orden de columna

    (function formCommands(formId, params, target = '', process = '', ajax = false) {
        if (document.querySelector(formId) && params) {
            function bindParams(formId, params) {
                // Enlace del evento click para los diferentes parámetros
                params.forEach(p => {
                    let actions = document.querySelectorAll(`${formId} [data-${p}]`);

                    actions.forEach(a => {
                        a.addEventListener('click', function (event) {
                            //event.preventDefault();
                            let value = this.dataset[p].toLowerCase();

                            // Actualizar el valor
                            let input = document.querySelector(`${formId} input[id=${p}]`);
                            input.value = value;
                        });
                    });
                });
            }

            bindParams(formId, params); // Enlazar los parámetros de la interfaz

            let form = document.querySelector(formId);
            form.setAttribute('method', ajax ? 'post' : 'get');

            // Hacer el envio con AJAX
            if (ajax && target.length > 0) {
                form.addEventListener('submit', async (event) => {
                    event.preventDefault();

                    // Determinar la porción a actualizar
                    const nodes = document.querySelectorAll(`${formId} ${target}`);

                    if (nodes.length > 0) {
                        let processElement = null;
                        if (process) {
                            processElement = document.querySelector(`#${process}`);
                            processElement.classList.add(process); // Indicador de procesamiento
                        }

                        // Determinar el elemento después de donde actualizar
                        const previo = nodes[0].previousElementSibling;
                        let fd = new FormData(form);
                        const response = await fetch(window.location.href, { method: 'post', headers: { 'X-Requested-With': 'fetch' }, body: fd });

                        if (response.ok) {
                            let text = await response.text();

                            // Eliminar los elementos actuales
                            nodes.forEach(n => n.remove());

                            // Se coloca el resultado tomando como base el elemento previo
                            previo.insertAdjacentHTML('afterend', text);
                            bindParams(formId, params); // Enlazar los parámetros de la interfaz

                            processElement?.classList.remove(process); // Indicador de procesamiento
                        }
                    }
                });
            }

            // TODO
            // Interacción de los elementos del formulario
            // Confirmar comportamiento no AJAX
        }
    })('#form1', ['command', 'page', 'sort', 'sortdir'], '#result', 'processing', true);
</script>

<style>
    .processing:before {
        content: attr(data-message);
    }

    table [data-sortdir='asc']:after {
        content: "↑";
        color: black;
        font-weight: bold;
        font-size: large;
        margin-left: 0.25em;
    }

    table [data-sortdir='desc']:after {
        content: "↓";
        color: black;
        font-weight: bold;
        font-size: large;
        margin-left: 0.25em;
    }

    /* Animación de tabla */
    @@keyframes show-row {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    tbody {
        animation: show-row 1s forwards;
    }
</style>