@page
@model WA30.Pages.ClientAjaxModel
@{
}

<h2>Index</h2>

<form>
    <input placeholder="Type filter here" />
    <button>Search</button>
</form>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>QuantityPerUnit</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Category</th>
            <th>Supplier</th>
        </tr>
    </thead>
    <tbody id="list"></tbody>
</table>