@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul>
    <li><a asp-page="ServerSide">Server side</a></li>
    <li><a asp-page="ClientCSS">Client - CSS</a></li>
    <li><a asp-page="ClientBootstrap">Client - Bootstrap</a></li>
    <li><a asp-page="ClientAjax">Client - AJAX</a></li>
    <li><a asp-page="ClientVue">Client - Vuejs</a></li>
</ul>