@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button id="bTest">TEST</button>
<input id="filter" type="search"/>
<span id="target" style="color: red; font-size: large;"></span>

<script>
    @{
        var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.PathBase}";
    }

    document.addEventListener('DOMContentLoaded', () => {

        let bTest = document.getElementById('bTest');
        bTest.addEventListener('click', async event => {

            let target = document.getElementById('target');
            let filter = document.getElementById('filter');
            let filterValue = filter?.value ?? '';

            const response = await fetch(`@baseUrl/api/Product?filter=${filterValue}`, { headers: { 'X-Requested-With': 'fetch' } });
            console.log(response.status);

            if (response.ok) {
                let data = await response.json();

                data.forEach(d => {
                    target.insertAdjacentHTML('afterend', `<p>${d.productName}</p>`);
                });                
            }
            else if (response.status === 401) {
                target.innerText = `No autorizado ${new Date()}`;
                //window.location.replace('/Identity/Account/Login');
            }
        });
    });
</script>